/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass";

@font-face {
    font-family: 'halis_rbold';
    src: url('../assets/fonts/ahmet_altun_-_halisr-bold-webfont.woff2') format('woff2'),
         url('../assets/fonts/ahmet_altun_-_halisr-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'halis_rbook';
    src: url('../assets/fonts/ahmet_altun_-_halisr-book-webfont.woff2') format('woff2'),
         url('../assets/fonts/ahmet_altun_-_halisr-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'halis_rlight';
    src: url('../assets/fonts/ahmet_altun_-_halisr-light-webfont.woff2') format('woff2'),
         url('../assets/fonts/ahmet_altun_-_halisr-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
	@include filter-gradient(#fefcef, #fddfda, horizontal);
	@include background-image(linear-gradient(left top, #fefcef 50%,#fddfda 100%));
	 background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    margin: 0;
    main {
    	max-width: 640px;
    	margin: 60px auto;

    	@media (max-width: 640px) {
    				margin-top: 36px;
    			}

    	h1 {
    		span {
    			opacity: 0;
    		}
    		text-align: center;
    		img {
    			max-width: 210px;
    			@media (max-width: 640px) {
    				max-width: 160px;
    			}
    		}
    		margin-bottom: 60px;
    		@media (max-width: 640px) {
    				margin-bottom: 36px;
    			}
    	}
    	&>div {
    		background-color: #fff;
    		width: 100%;
    		padding: 0 0 5% 0;
    		//border: 1px solid rgba(0,0,0,0.1);
    		@media (max-width: 640px) {
    				max-width: 90%;
    				margin: 0 auto;
    			}
    		h2 {
    			font-family: 'halis_rbold';
    			font-size: 11px;
    			letter-spacing: 0.35em;
    			text-transform: uppercase;
    			text-align: center;
    			padding-bottom: 5%;
    			padding-top:5%;
    			border-bottom: 1px solid rgba(0,0,0,0.1);
    			border-top: 1px solid rgba(0,0,0,0.1);
    		}
    		h2:first-child {
    			border-top: 0;
    		}
    		p {
    			line-height: 1.6em;
    			font-family: 'halis_rlight';
    			color: #555;
    			font-size: 16px;
    			padding: 5%;
    			text-align: center;
    			@media (max-width: 640px) {
    				font-size: 15px;
    			}
    		}
    		div.contact--address, div.contact--cta {
    			padding: 5% 0 5% 0;
    			width: 49%;
    			display: inline-block;
    			text-align: center;
    			line-height: 1.75em;
    			font-family: 'halis_rlight';
    			color: #222;
    			font-size: 16px;
    			@media (max-width: 640px) {
    				width: 100%;
    				padding: 2% 0 2% 0;
    			}
    			a {
    				font-family: 'halis_rbook';
    				color: #222;
    				text-decoration: none;
    				display: inline-block;
    				border-bottom: 1px solid rgba(0,0,0,0.15);
    				padding-bottom: -1px;
    				&:hover {
    					border-bottom: 1px solid rgba(0,0,0,0.3);
    				}
    			}
    		}
    		div.contact--cta {
    			border-right: 1px solid rgba(0,0,0,0.1);
    			@media (max-width: 640px) {
    				border-right: 0;
    				border-bottom: 1px solid rgba(0,0,0,0.1);
    			}
    		}
    		div.about {
                img {
                    max-width: 100%;
                }
    		}
    		div.service {
    			ul {
    				text-align: center;
    				li {
    					display: inline-block;
    					font-family: 'halis_rbook';
    					background-color: #fefcef;
    					padding: 12px;
    					border-radius: 8px;
    					margin: 6px;
    					font-size: 16px;
    					@media (max-width: 640px) {
    						font-size: 15px;
    					}
    				}
    			}
    		}
    	}
    }
    aside {
    	h3 {
    		font-family: 'halis_rbold';
    		font-size: 11px;
    		letter-spacing: 0.35em;
    		text-transform: uppercase;
    		text-align: center;
    		width: 40%;
    		margin: 5% auto;
    		line-height: 1.75em;
    		@media (max-width: 640px) {
    				width: 75%;
    			}
    	}
    }
}